/**
 * Naxero.com Magento 2 Payment module (https://www.naxero.com)
 *
 * Copyright (c) 2017 Naxero.com (https://www.naxero.com)
 * Author: David Fiaty | contact@naxero.com
 *
 * License GNU/GPL V3 https://www.gnu.org/licenses/gpl-3.0.en.html
 */

.checkout-agreement label {
    background-image: url(../images/icon-link.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 20px;
    background-size: 13px 13px;
}